body {
  margin: 0px;
  padding: 0px;
  background-color: #61a3ba;
}

#top-header h1{
  color:#d2de32;
}

#top-header h1:hover{
  color:#a2c579;
}

#top-header {
  background-color: #ffffdd;
  color: #d2de32;
  text-align: start;
  font-size: large;
  margin: 0px 0px;
  padding: 10px;
  padding-left: 20px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

#search-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  gap: 20px;
}

#search-filter input[type="text"]{
  background-color: #176B87; 
  color: #d2de32; 
  border: 2px solid #64CCC5;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 18px;
}
#search-filter input[type="text"]:hover{
  background-color: #176B87; 
  color: #d2de32; 
  border: 2px solid #d2de32;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 18px;
}

#search-filter select {
  background-color: #176B87; 
  color: #d2de32; 
  border: 2px solid #64CCC5;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 17px;
}
#search-filter select:hover {
  background-color: #176B87; 
  color: #d2de32; 
  border: 2px solid #d2de32;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 17px;
}

.product {
  border: 2px solid #a2c579;
  height: 550px;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  margin-top: 0px;
  margin: 10px;
  width: calc(20% - 20px);
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-size: large;
}

.product:hover {
  border: 2px solid #d2de32;
  height: 550px;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  margin-top: 0px;
  margin: 10px;
  width: calc(20% - 20px);
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-size: larger ;
}

.product img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.product h3 {
  background-color: #a2c579;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.product p {
  font-size: 14px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
}

.product #item-category {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

#product-list {
  text-align: center;
  display: flex;
  justify-content: center;
}

#bottom-footer{
    margin-top: 30px;
}

#bottom-footer * {
  background-color: #ffffdd;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  color: #a2c579;
}

#bottom-footer .company-information{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.company-information *{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
}


#bottom-footer .company-information{
    margin: 0;
    padding: 0;
}

#bottom-footer .company-name {
    background-color: #FFF0CE;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

.company-name #company-name-info {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0;
  color: #a2c579;
  background-color: #FFF0CE;
}


hr {
  border: none; 
  height: 2px; 
  background-color: #176B87; 
  margin: 20px 0; 
}

#pagination-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

#load-more-button{
  background-color: #176B87; 
  color: #d2de32; 
  border: 2px solid #64CCC5;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 18px;
}

#load-more-button:hover{
  background-color: #104b5f; 
  color: #eaf72f; 
  border: 2px solid #64CCC5;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 19px;
}

#link-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
  
}

.card {
  width: 230px;
  border: 2px solid #a2c579; 
  border-radius: 10px; 
  padding: 10px;
  box-sizing: border-box; 
  text-align: center;
  font-size: large;
}

.card:hover {
  width: 230px;
  border: 2px solid #d2de32; 
  border-radius: 10px; 
  padding: 10px;
  box-sizing: border-box; 
  text-align: center;
  font-size: larger;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

