body{
    margin: 0px;
    padding: 0px;
    background-color: #61A3BA;
}

#top-header{
    background-color: #FFFFDD;
    color: #D2DE32;
    text-align: center;
    font-size: large;
    margin: 0px 0px;
    padding: 10px;
}

.product {
    border: 2px solid #A2C579;
    height: 410px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(20% - 20px); 
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.product img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: cover; 
    display: block; 
    margin: 0 auto; 
    margin-bottom: 10px;
}

.product h2 {
    background-color: #A2C579;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.product p {
    font-size: 14px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
}

#product-list {
    text-align: center; 
    display: flex;
    justify-content: center;
}

#bottom-footer{
    background-color: #FFFFDD;
}

#bottom-footer .company-name{
    justify-content: center;
    background-color: #61A3BA;
    color: #A2C579;
}
#bottom-footer .company-name hr{
    border: 1px solid #D2DE32;
    border-radius: 10px;
    border-style: dashed;
}